language: go

go:
  - tip

before_install:
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

script:
 - go test -v ./...
 - $HOME/gopath/bin/goveralls -repotoken EzfjTpIpdoUpusSiKNjF6sgfacbs1fiGo
